# Permit the .gitignore itself
!.gitignore

# Ignore everything by default
*

# Allow specific file types
!*.v
!*.sv
!*.do
!*.tcl

# Permit documentation
!README.md
!README.txt

# Allow folders if needed (optional)
#!utils/
#!modules/
